body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
div.first {
  width: 100%;
  position: relative;
  background: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 440px;
  margin-bottom: 50px;
}
div.first a {
  color: white;
  text-decoration: none;
  position: absolute;
  top: 30px;
  opacity: 0.95;
}
a.app {
  left: 20%;
  font-size: 15px;
}
a.rest {
  left: 65%;
  font-size: 20px;
}
a.log {
  left: 78%;
  font-size: 20px;
}
a.sign {
  left: 85%;
  font-size: 20px;
}
div.first img {
  position: absolute;
  left: 40%;
  top: 150px;
}
div.first p {
  font-size: 36px;
  margin-top: 30px;
  color: white;
  position: absolute;
  left: 27%;
  font-family: Arial, Helvetica, sans-serif;
  top: 220px;
}
div.first input[type="search"] {
  width: 25%;
  margin: auto;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  position: absolute;
  left: 38%;
  top: 320px;
  outline: none;
  border: none;
}
div.second,
div.third,
div.fourth {
  width: 70%;
  margin: auto;
  /* border: 2px solid black; */
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-bottom: 70px;
}
div.second img,
div.third img {
  border-radius: 15px;
}
div.second a p {
  font-size: 15px;
  opacity: 0.85;
}
.t1,
.t2,
.t3,
.t4 {
  text-align: center;
  width: 230px;
  color: black;
  height: 35px;
  background: #ffffff;
  padding: 10px 0px 16px 0px;
  position: absolute;
  top: 180px;
  border-top: 2px solid rgb(202, 201, 201);
  border-left: 2px solid rgb(202, 201, 201);
  border-right: 2px solid rgb(202, 201, 201);
  border-bottom: 2px solid rgb(202, 201, 201);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
h2,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  left: 275px;
  font-weight: normal;
}
h2 {
  font-size: 36px;
  opacity: 0.9;
  top: 0px;
}
h6 {
  font-size: 18px;
  opacity: 0.8;
  top: 0px;
}
.t5,
.t6,
.t7,
.t8 {
  padding-left: 10px;
  position: absolute;
  color: white;
  top: 255px;
  width: 220px;
  height: 60px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
p.locals {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  position: relative;
  left: 450px;
  opacity: 0.9;
  font-weight: normal;
}
div.four {
  flex-wrap: wrap;
  /* border: 2px solid black; */
  gap: 30px;
  margin-bottom: 70px;
}
a.m {
  width: 27%;
  border: 1px solid rgb(202, 201, 201);
  text-align: center;
  height: 50px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: black;
}
a.m p {
  position: relative;
}
div.fifth {
  width: 100%;
  height: 500px;
  background: rgb(251, 246, 249);
  /* border: 2px solid black; */
  position: relative;
  margin-bottom: 70px;
}
div.fifth img.imge {
  position: absolute;
  top: 50px;
  left: 25%;
}
.fifth h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 44px;
  position: absolute;
  left: 45%;
  top: 55px;
}
p.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  position: absolute;
  left: 45%;
  top: 150px;
  opacity: 0.8;
}
input[type="radio"],label {
font-size: 25px;
font-family: Arial, Helvetica, sans-serif;
position: absolute;
top: 250px;
}
input[type="text"]{
    padding: 10px;
    border: none;
    outline: none;
  height: 22px;
  width: 18%;
  font-size: 20px;
    border-radius: 5px;
    top: 300px;
    left:45%;
    position:absolute;
    border: 1px solid rgb(220, 220, 220);
}
input[type="button"] {
  height: 40px;
  padding: 10px;
  opacity: 0.98;
  width: 10%;
  top: 300px;
  left:65%;
  position:absolute;
  border: none;
  outline: none;
  background: rgb(223, 78, 107);
  border-radius: 5px;
  color: white;
}
p.down {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.6;
  position: absolute;
  left: 45%;
  top: 350px;
}
div.fifth img {
  position: absolute;
  top: 400px;
}
img.apple {
  left: 45%;
}
img.android {
  left: 55%;
}
p.cuisine,
p.res,
p.chains,
p.city {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  position: relative;
  opacity: 0.8;
  left: 275px;
}
p.explore {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  opacity: 0.9;
  position: relative;
  left: 275px;
}
.opt,
.hotel,
.chain,
.cities {
  width: 70%;
  margin: auto;
  /* border: 2px solid black; */
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 70px;
  line-height: 30px;
}
.opt ul,
.hotel ul,
.chain ul {
  opacity: 0.6;
}
.opt li,
.hotel li,
.chain li {
  display: inline;
  position: relative;
  left: 8px;
}
.opt a,
.hotel a,
.chain a,
.cities a {
  color: black;
  font-size: 15px;
  /* opacity: 0.6; */
}
div.cities {
  flex-wrap: wrap;
  justify-content: center;
  /* border: 2px solid black; */
}
div.cities div {
  /* border: 1px solid black; */
  width: 17%;
  /* padding: 5px; */
  margin: 5px;
  justify-content: space-between;
  opacity: 0.6;
  position: relative;
  /* left: 10px; */
}
div.final {
  width: 100%;
  position: relative;
  height: 500px;
  background: rgb(255, 250, 250);
}
div.final img.zom {
  position: absolute;
  left: 20%;
  top: 50px;
}
select.opt {
  width: 10%;
  height: 40px;
  padding: 5px;
  position: absolute;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  top: 10%;
  outline: none;
  border: none;
}
#country {
  left: 57%;
}
#lang {
  left: 68%;
}
div.info {
  width: 60%;
  position: absolute;
  /* border: 2px solid black; */
  /* height: 20px; */
  left: 20%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  top: 30%;
  border-bottom: 1px solid grey;
}
div.c {
  width: 30%;
  /* border: 2px solid black; */
  padding: 5px;
}
div.c a {
  color: black;
  opacity: 0.6;
  font-size: 14px;
}
div.d {
  /* border: 2px solid black; */
  padding: 5px;
  width: 30%;
}
p.footer{
    width: 60%;
  /* position: absolute; */
  /* border: 2px solid black; */
  /* height: 20px; */
  margin: auto;
  left: 20%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  top: 30%;
  position: absolute;
  top: 450px;
  color: black;
  opacity: 0.6;
  font-size: 11px;
}